{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://www.carrisx.com/en",
    "description" : "Live Server"
  } ],
  "info" : {
    "description" : "This is the CarRisX.com web application URL API parameter documentation. Future extensions will enable switches for: screenshot, line info, tel info, mail info, FB link, Twitter link, API link, language selection and list of languages, Logo and Logo change, testimonial, copyright, terms, privacy, heading text, subtext and CSS overrides with custom CSS files\n",
    "version" : "1.0.1",
    "title" : "CarRisX WebApp URL API (c) 2019 CarRisX.com",
    "termsOfService" : "https://www.carrisx.com/en/terms",
    "contact" : {
      "name" : "CarRisX.com",
      "email" : "office@carrisx.com",
      "url" : "https://www.carrisx.com/en"
    },
    "license" : {
      "name" : "Licensed under the Apache 2.0 license",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "WebApp",
    "description" : "Root",
    "externalDocs" : {
      "description" : "Find out more at",
      "url" : "https://www.carrisx.com/en"
    }
  } ],
  "externalDocs" : {
    "description" : "List of provinces in Thailand and their short names (Abbr.) for the province parameter",
    "url" : "https://en.wikipedia.org/wiki/Provinces_of_Thailand"
  },
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "WebApp" ],
        "description" : "Loads the application.",
        "summary" : "Start the comparison application.",
        "operationId" : "start",
        "parameters" : [ {
          "name" : "test",
          "in" : "query",
          "description" : "Run in test mode, set to true to mark the transmitted data as test data, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "debug",
          "in" : "query",
          "description" : "Show the debugInfo part of the form.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "insClass",
          "in" : "query",
          "description" : "The preselected insurance class.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ 1, 2, "2+", 3, "3+", "cmi", "other" ],
            "example" : 1
          }
        }, {
          "name" : "insClassDisabled",
          "in" : "query",
          "description" : "Specifies if the insurance class selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "regYear",
          "in" : "query",
          "description" : "The preselected cars first registration year.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019 ],
            "example" : 2019
          }
        }, {
          "name" : "regYearDisabled",
          "in" : "query",
          "description" : "Specifies if the year selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "regBrand",
          "in" : "query",
          "description" : "The preselected car brand.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "TOYO", "HOND", "NISS", "ISUZ", "MITS", "FORD", "CHEV", "SUZU", "ASTO", "AUDI", "BENT", "BMW", "CHEV", "CITR", "DFM", "FERR", "FIAT", "FORD", "FOTO", "HOND", "HYUN", "ISUZ", "JAGU", "KIA", "LAMB", "LAND", "LEXU", "LOTU", "MASE", "MAXU", "MAZD", "MCLA", "MERC", "MG", "MINI", "MITS", "NISS", "PEUG", "PORS", "PROT", "ROLL", "SKOD", "SSAN", "SUBA", "SUZU", "TATA", "TOYO", "TR", "VOLK", "VOLV" ],
            "example" : "TOYO"
          }
        }, {
          "name" : "regBrandDisabled",
          "in" : "query",
          "description" : "Specifies if the car brand selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "regType",
          "in" : "query",
          "description" : "The preselected car type.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "Avanza"
          }
        }, {
          "name" : "regTypeDisabled",
          "in" : "query",
          "description" : "Specifies if the car type selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "regModel",
          "in" : "query",
          "description" : "The preselected car model.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "Avanza_E_7st_Auto_4sp_RWD HATCHBACK 1300cc 4 doors"
          }
        }, {
          "name" : "regModelDisabled",
          "in" : "query",
          "description" : "Specifies if the car model selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "dashCam",
          "in" : "query",
          "description" : "Specifies if the car has a dash cam.",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "dashCamDisabled",
          "in" : "query",
          "description" : "Specifies if the car ash cam selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "province",
          "in" : "query",
          "description" : "Specifies in which province the car is registered.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "ACR", "ATG", "AYA", "BKK", "BKN", "BRM", "CCO", "CNT", "CPM", "CTI", "CMI", "CRI", "CBI", "CPN", "KSN", "KPT", "KRI", "KKN", "KBI", "LPG", "LPN", "LEI", "LRI", "MSN", "MKM", "NYK", "NPT", "NPM", "NMA", "NSN", "NRT", "NAN", "NWT", "NBP", "NKI", "NBI", "SKW", "MDH", "YST", "PTE", "PTN", "PNA", "PLG", "PYO", "PNB", "PBI", "PCT", "PLK", "PRE", "PKT", "PRI", "PKN", "RNG", "RBR", "RYG", "RET", "SNK", "SPK", "SKN", "SKM", "SRI", "STN", "SBR", "SSK", "SKA", "STI", "SPB", "SNI", "SRN", "TAK", "TRG", "TRT", "UBN", "UDN", "UTI", "UTD", "YLA" ],
            "example" : "CBI"
          }
        }, {
          "name" : "provinceDisabled",
          "in" : "query",
          "description" : "Specifies if the car registration province selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "usage",
          "in" : "query",
          "description" : "Specifies how the car is used.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "personal", "commercial" ],
            "example" : "personal"
          }
        }, {
          "name" : "usageDisabled",
          "in" : "query",
          "description" : "Specifies if the car usage selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "includeCMI",
          "in" : "query",
          "description" : "Specifies if CMI insurance should be included.",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeCMIDisabled",
          "in" : "query",
          "description" : "Specifies if the selection control for CMI inclusion is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "partner",
          "in" : "query",
          "description" : "The predefined partner email address.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "x@x.com"
          }
        }, {
          "name" : "partnerDisabled",
          "in" : "query",
          "description" : "Specifies if the partner control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "partnerAddOn",
          "in" : "query",
          "description" : "The predefined partner addon info.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "Office Pratamnak"
          }
        }, {
          "name" : "partnerAddOnDisabled",
          "in" : "query",
          "description" : "Specifies if the partner addon control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "insurer",
          "in" : "query",
          "description" : "The predefined insurer",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "axa"
          }
        }, {
          "name" : "insurerDisabled",
          "in" : "query",
          "description" : "Specifies if the insurer control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "The predefined product.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "prod1"
          }
        }, {
          "name" : "productDisabled",
          "in" : "query",
          "description" : "Specifies if the product control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "format" : "html",
                  "example" : "<!doctype html><html><head></head><body></body></html>"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "example" : "xxxxxx"
                }
              }
            }
          }
        }
      }
    }
  }
}