{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://www.carrisx.com/en",
    "description" : "Live Server"
  } ],
  "info" : {
    "description" : "This is the CarRisX.com web application URL API parameter documentation.\n",
    "version" : "1.0.1",
    "title" : "CarRisX WebApp URL API (c) 2019 CarRisX.com",
    "termsOfService" : "https://www.carrisx.com/en/terms",
    "contact" : {
      "name" : "CarRisX.com",
      "email" : "office@carrisx.com",
      "url" : "https://www.carrisx.com/th/en"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags" : [ {
    "name" : "WebApp",
    "description" : "Root",
    "externalDocs" : {
      "description" : "Find out more at",
      "url" : "https://www.carrisx.com/en"
    }
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "WebApp" ],
        "description" : "Loads the application.",
        "summary" : "Start the comparison application.",
        "operationId" : "start",
        "parameters" : [ {
          "name" : "test",
          "in" : "query",
          "description" : "Run in test mode, set to true, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "debug",
          "in" : "query",
          "description" : "Show the debugInfo part of the form.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "insClass",
          "in" : "query",
          "description" : "The preselected insurance class.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ 1, 2, "2+", 3, "3+", "cmi", "other" ]
          }
        }, {
          "name" : "insClassDisabled",
          "in" : "query",
          "description" : "Specifies if the insurance class selection control is disabled, false if not specified.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "format" : "html",
                  "example" : "<!doctype html><html><head></head><body></body></html>"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "text/html" : {
                "schema" : {
                  "type" : "string",
                  "example" : "xxxxxx"
                }
              }
            }
          }
        }
      }
    }
  }
}